/*===== Keyframes ====*/
@keyframes horizontal-translation {
	0% {
        margin-left: 100%;
    }
	100% {
        margin-left: -150%;
    }
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(113, 208, 245, 0);
    }
    45% {
        box-shadow: 0 0 0 20px rgba(113, 208, 245, 0.6);
    }
}
@keyframes pulse-alternate {
    0% {transform: scale(0.75, 0.75);}
    30% {transform: scale(1, 1);}
}
/*===== Scrollbar ====*/
scrollbar-width: thin;
scrollbar-color: #888 #f5f5f5;
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f5f5f5;
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
/*===== General ====*/
body {
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none !important;
}
/*===== Text ====*/
.lead {
    font-size: 1.25rem;
    font-weight: 300
}
.intro-right {
    overflow: hidden;
    min-height: 500px;
    background-color: #00abed; 
}
.intro-right img.profile {
    position: relative; 
    top: 50%; 
    left: 50%;
    width: 200px;
    transform: translateY(-50%) translateX(-50%);
}
@media (min-width: 768px) {
    .intro-left {
      position: absolute;
      top: 0px;
      bottom: 0;
      left: 0;
    }
    .intro-right {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
    }
  }

/*===== Moving elements and effects ====*/
.pulse {
    animation: pulse 2s infinite;
}
.cloud {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}
.cloud-shape1 {
    top: 2%;
    left: 100px;
    width: 35%;
    height: 13%;
    max-width: 183px;
    max-height: 94px;
    background-image: url('../images/cloud1.png');
    animation: horizontal-translation 25s linear infinite;
}
.cloud-shape2 {
    top: 20%;
    left: 10px;
    width: 30%;
    height: 13%;
    max-width: 232px;
    max-height: 94px;
    background-image: url('../images/cloud2.png');
    animation: horizontal-translation 20s linear infinite;
}
.cloud-shape3 {
    top: 15%;
    left: 120%;
    width: 30%;
    height: 13%;
    max-width: 232px;
    max-height: 94px;
    background-image: url('../images/cloud1.png');
    animation: horizontal-translation 20s linear infinite;
}
.light {
    position: absolute;
    top: 7rem;
    left: -4rem;
    width: 132px;
    height: 203px;
    background-image: url('../images/light.png');
}
.city {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 500px;
    background: url(../images/city.png) no-repeat;    
    background-size: 1000px;
    background-position-y: bottom;
}
.skyline {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 500px;
    background: url(../images/skyline.png) no-repeat;
    background-position: left;
    background-size: 1400px;
    background-position-y: bottom;
}
/*===== Social ====*/
.social {
    text-align: left;
    /* margin-top: 40px */
}
.social a {
    height: 40px;
    width: 40px;
    color: #333;
    display: inline-flex;
    border-radius: 20px;
    line-height: 36px;
    font-size: 13px;
    text-align: center;
    transition: all .4s ease-out;
    border: solid 1px #333;
    margin: 0 10px 10px 0;
}
.social a .icon {
    vertical-align: middle;
    font-size: 27px;
    padding: 5px;
}
.social a .text {
    width: 0px;
    visibility: hidden;
    opacity: 0;
    font-size: 16px;
    transition: all .4s ease-out;
}
.social a:hover {
    border-color: transparent;
}
.social a:hover.github {
    color: #ffffff;
    background-color: #211F1F;
}
.social a:hover.linkedin {
    color: #ffffff;
    background-color: #4460ae;
}
.social a:hover.microsoft {
    color: #ffffff;
    background-color: #66CC33;
}
.social a:hover.stackoverflow {
    color: #ffffff;
    background-color: #F48024
}
.social a:hover.twitter {
    color: #ffffff;
    background-color: #3cf
}
.social a:hover.instagram {
    color: #ffffff;
    background-color: #DD2A7B;
}
.social a:hover.sessionize {
    color: #ffffff;
    background-color: #1ab394;
}
.social a:hover.blog {
    color: #ffffff;
    background-color: #BCBBBB;
}
/*===== Articles/Projects ====*/
.list-group .list-group-item:first-child {
    border-top: 0px;
}
.list-group .list-group-item:last-of-type {
    border-bottom: 0px;
}
/*===== Credits ====*/
.credit {
    margin-top: 3rem;
    font-size: 0.8rem;
    color: #adb5bd;
}
